body {
  background-color: #0687ED;
}
div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0687ED;
  text-align: center;
  color:white
}

img {
  display:block
  margin-left: auto;
  margin-right: auto;
}
select {
  position; center
  text-align: center;
  justify-content: center;
}
